

@{
    ViewBag.Title = "Blog";
}


    <!--.wrapper start-->
    <div class="title-g">
        <!--.title start-->
        Be creative, play games
        <br><span class="quotes">
            our blog
        </span>
    </div><!--.title end-->

    @foreach (var post in ViewBag.BlogPosts)
    {
        <div class="">
            <div class="title-b">
                <a href="@post.Uri">@post.Title</a><br>
                <span class="blogtxt">Added by @post.Authors on @post.PublishDate</span>
            </div><!--.title end-->

            <div class="blog-one blog-one-work">
                <img src="@post.Image" alt="image" width="100%">
                <div class="mask">
                    <!--.mask start-->
                    <p>@Html.Raw(post.Summary)</p>
                    <a href="@post.Uri" class="info">Read More</a>
                </div><!--.mask end-->
            </div>
        </div>
    }



